<!DOCTYPE html>
<html lang="pt-br">

<!--[if lt IE 7 ]><html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie ie9 lte9"><![endif]-->
<!--[if IE ]><html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Canção Nova Peregrinações{% endblock %}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<header>
    <h1>Canção Nova Peregrinações</h1>
    <nav>
        <a href="/">Início</a>
        <a href="/roteiros/">Roteiros</a>
        <a href="/contato/">Contato</a>
    </nav>
</header>

<main>
    {% block conteudo %}{% endblock %}
</main>

<footer>
    © 2025 Canção Nova
</footer>

</body>
</html>
